body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
body
{
  background-color:bisque;
}
.parent
{
  position: relative;
  left:200px;
  top:100px;
  
}
.cell
{
  background-color:bisque;
  color:black;
}

.board
{

  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows: repeat(3,1fr);
  height: 100px;
  width: 150px;
  justify-items: stretch;
  align-items: stretch;

}

.board > div
{
border: 1px solid black;
}

.square
{
  justify-self: stretch;
  background-color: aqua;
  padding: 12px;
}
.buttons
{
  position: absolute;
  left:200px;
  bottom: 20px;  
}

.buttons>#replay
{
  margin: 5px;
}

.timerbuttons
{
  position: relative;
  left:500px;
  top:50px;
}
.roomid
{
position: relative;
left:500px;
top:100px;
}
.text
{
  resize:none;
}