<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/ccsss/custom.css"> 
  <link rel="stylesheet" href="/css/bootstrap.min.css.map">
</head>


<body>
  <nav class="navbar navbar-expand-md bg-black">
    <div class="container-fluid m-4 mb-1 mt-0">
      <a class="navbar-brand text-white" href="/">RELAXX</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon bg-white"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav flex-row flex-wrap bd-navbar-nav">
          <li class="nav-item">
            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">Book Tickets</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-white" href="#">History</a>
          </li>
          </ul>

          <ul class="navbar-nav flex-row flex-wrap ms-md-auto">
            <li class="nav-item m-2">
              <!-- <a class="nav-link text-white" href="#">LogIn</a> -->
              <button type="button" class="btn btn-light text-black" data-bs-toggle="modal" data-bs-target="#" data-bs-whatever="">SignIn</button>
            </li>
          <li class="nav-item m-2">
            <!-- <a class="nav-link text-white" href="#">LogIn</a> -->
            <button type="button" class="btn btn-light text-black" data-bs-toggle="modal" data-bs-target="#login" data-bs-whatever="">LogIn</button>
          </li>
        </ul>
      </div>
      </div>
    </nav>
<!-- LOGIN MODAL -->
    <div class="modal fade" id="login" tabindex="-1" aria-labelledby="loginpg" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="container-lg">
            <form class="form-signin ml-2">
              <h1 class="h3 mb-3 font-weight-normal" >Please log-in</h1>
              <label for="phone number" class="sr-only"></label>
              <input class="form-select-sm mb-2" style="overflow:hidden" type="email" id="emailid" placeholder="Enter Email ID"><br>
              <!-- after entering 10 digit number send it to nodejs using async -->
              <label for="otp btn" class="sr-only"></label>
              <button type="button" class="btn btn-black bg-info text-black " data-bs-toggle="modal" data-bs-target="#otp" id="otpid" data-bs-whatever="" action="/click" >Generate OTP</button>
            </div>
            </form>
          </div>

        </div>
      </div>
    </div>

<!-- OTP MODAL -->
    <div class="modal fade" id="otp" tabindex="-1" aria-labelledby="otpg" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>

          <div class="modal-body">
            <div class="container-lg ml-2">
            <form class="form-signin">
              <h1 class="h3 mb-3 font-weight-normal" >Please Verify OTP</h1>
              <label for="otp number" class="sr-only"></label>
              <input class="form-select-sm mb-2" style="overflow:hidden" type="number" id="otpno" placeholder="Enter OTP"><br>
              <!-- after entering 10 digit number send it to nodejs using async -->
              <label for="verify btn" class="sr-only"></label>
              <button type="button" class="btn btn-black bg-info text-black" id="otp btn" >Verify otp</button> 
              <!--create a submit button-->
            </div>
            </form>
          </div>

        </div>
      </div>
    </div>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">  </script>
  <script src="/js/bootstrap.min.js"></script> 
  {{!-- <script src="/js/bootstrap.min.js.map"></script>  --}}
  <script src="/cjs/script.js"></script> 
</body>
</html>
